*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.navbar{
    background-color: rgba(51, 51, 51, .5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: auto;
    overflow: auto;
    padding-top: 10px;
    padding-bottom:7px;
}
.navbar .navcontent{
    width: 90%;
    margin: auto;
    overflow: auto;
}
.navbar .logo{
    width: 55%;
    float: left;
    padding-top: 5px;
    padding-left: 20px;
}
.logo a{
    color: #ff305b;
    font-size: 24px;
    font-weight: 800;
    text-decoration: none;
    
}
.navbar .menu{
    width: 45%;
    float: left;
}
.menu .menusmall{
    display: none;
    position: relative;
}
 .menusmall option{
    color: #fff;
    font-size: 16px;
    font-weight:300;
    letter-spacing: 0.5px;
    line-height: 20px;
    text-decoration: none;
    opacity: .8;
    background-color:  rgba(51, 51, 51, .5);
 }
 
.menu ul{
    overflow: auto;
    text-align: right;
}
.menu li{ 
   float: left;
   width: 14.28%;
    list-style-type: none;
    padding: 10px 10px;
}
.menu a{
    color: #fff;
    font-size: 16px;
    font-weight:300;
    letter-spacing: 0.5px;
    line-height: 20px;
    text-decoration: none;
    opacity: .8;
}
.menu .home{
    color: #ff305b;
}
.menu a:hover{
    color: #ff305b;
}


.header{
    background-image: url(img/slider/slider-01.jpg);
    height: 100vh;
    background-position: center;
    position: relative;
    background-size: cover;
    color: #fff;
    text-align: center;
    overflow: auto;
}
.header .img_opac{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    text-align: center;
    overflow: auto;
}

.header .headcontent{
    width: 90%;
    position: absolute;
    top: 35%;
    left: 5%;
}
.headcontent .p1{
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    padding-bottom: 10px;
}
.headcontent h1{
    color: #ff305b;
    font-size: 70px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    padding-bottom: 10px;
    line-height: 1.1;
}
.headcontent .p2{
    font-weight: 300;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 26px;
    text-transform: capitalize;
    line-height: 1.2;
    padding-bottom: 10px;
}

.mycv{
    background-color: #fff;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}
.mycv .cvcontent{
    width: 85%;
    margin-left:  auto;
    overflow: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}
.mycv .cvimg{
    width: 35%;
    float: left;
    padding-top: 30px;
}
.mycv .cvtext{
    width: 60%;
    float: left;
    padding: 30px;
}
.cvimg .box{
    width: 90%;
    border-radius: 5px;
    border: 8px solid #555555;
    background-size: cover;
}
.cvimg .myimage{
    transform: translateY(24px) translateX(24px);
    position: relative;
    overflow: hidden;
}
.myimage img{
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
.cvimg .mycontacts{
    background-color: rgba(0, 0, 0, 0.57);
    text-align: center;
    position: absolute;
    top: 100%;
    left: 0;
    height:100%;
    width: 100%;
    transition: 1s top;
    
}
.mycontacts .iconss{
    position: absolute;
    top:50%;
    left: 30%;
}
.mycontacts i{
    padding: 0px 10px;
    font-size: 16px;
    height: 20px;
    width: 32px;
    color: #fff;
}
.myimage:hover .mycontacts{
    top: 0;
}
.mycontacts i:hover{
    color: #ff305b ;
}

.cvtext h2{
    font-size: 34px;
    font-weight: 600;
    line-height: 22px;
    padding-bottom: 25px;
    padding-left: 23px;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    color: #000;
    position: relative;
}
.cvtext h2::before{
    background: #ff305b none repeat scroll 0 0;
    content: "";
    height: 50%;
    right: 98%;
    position: absolute;
    top: 0;
    width: 4px;
}
.cvtext p{
    color: #333;
    font-size: 17px;
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 22px;
    border-bottom: 1px dashed #999999;
    padding-bottom: 25px;
    margin: 0 0 15px;
    padding-left: 8px;
    padding-right: 30px;
    width: 100%;
}

.cvtext .myname{
    overflow: auto;
    width: 100%;
}

.myname ul{
    list-style-type: none;
}
.myname li{
    float: left;
    width: 40%;
    color: #333;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 25px;
    white-space: nowrap;
}
.myname span{
    color: #000; 
    font-weight: 700;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    padding-left: 10px;
}

.cvtext .btns button{
    background-color: #ff305b;
    border-radius: 4px;
    color: #ffffff;
    margin-right: 10px;
    padding: 12px 24px;
    border: none;
    margin-left: 5px;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
}
.btns button:hover{
    background-color: #EC2403;
}


.services{
    width: 100%;
    background-color: #f1f1f1;
    padding: 30px 0px;

}
.services .servicescont{
    width: 90%;
    margin: auto;
    padding: 30px 0px;
}
.services .servhead{
    width: 100%;
    text-align: center;
    padding: 30px 0px;
}
.services h2{
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 40px;
    padding-bottom: 30px;
    position: relative;
    text-transform: capitalize;
    font-family: 'Source Sans Pro', sans-serif;
    color: #333;
    padding-top: 30px;
}
.services h2::before{
    content: "";
    margin: 0 auto;
    width: 70px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-color: #ff305b;
    border-style: solid;
    border-width: 1px 0;
    padding: 4px 0 5px;
}
.services h2::after{
    content: "";
    margin: 0 auto;
    height: 1px;
    width: 160px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5px;
    background-color: #ff305b;
}

.services .servskills{
    overflow: hidden;
    width: 100%;
    min-height: 1px;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
}

.servskills div{
    float: left;
    width: 25%;
    text-align: center;
    padding: 20px;
    transition: transform .5s ease-in-out 0s;
    
}
.servskills i{
    color: #ff305b;
    display: block;
    font-size: 30px;
    margin-bottom: 20px;
    line-height: 1;
    overflow: hidden;
   
}
.servskills h3{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
    margin: 0 0 10px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #333;
}
.servskills p{
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 15px;
    margin: 0 0 10px;
    color: #555555;
    line-height: 24px;
}

.servskills div:hover{
    transform: scale(1.1);
    background-color: #fff;
    
}



.portfolio{
    width: 100%;
    padding: 30px 0px;
}
.portfolio .portfoliocont{
    width: 90%;
    margin: auto;
    padding: 30px 0px;
}

.portfolio .head{
    width: 100%;
    text-align: center;
    padding-top: 30px ;
}
.head h2{
    font-size: 40px;
    font-weight: 800;
    line-height: 30px;
    margin-bottom: 40px;
    padding-bottom: 30px;
    position: relative;
    text-transform: capitalize;
    font-family: 'Source Sans Pro', sans-serif;
    color: #333;
}
.head h2::before{
    content: "";
    margin: 0 auto;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    border-color: #ff305b;
    border-style: solid;
    border-width: 1px 0;
    padding: 4px 0 5px;
    width: 70px;
}
.head h2::after{
    content: "";
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5px;
    background-color: #ff305b;
    height: 1px;
    width: 160px;
}

.portfolio .tags{
    width: 100%;
    text-align: center;
    padding-top: 20px ;
    padding-bottom: 30px;
}
.tags button{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 3px 12px;
    position: relative;
    text-transform: uppercase;
}
.tags .b1{
    color: #ff305b;
}

.portfolio .imgs{
    width: 100%;
    text-align: center;
    overflow: auto;
    padding: 15px;
    
}
.imgs .p{
    float: left;
    width: 33.3333%;
    
    padding: 15px;
}
.p .picture{
    position: relative;
}
.imgs img{
    width: 100%;
}
.p .link{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
    transition: opacity .3s;
}
.link i{
    color: #ff305b;
    font-size: 20px;
    position: absolute;
    right: 35px;
    bottom: 40px;
    }
.p:hover .link{
opacity: 1;
}




.team{
    width: 100%;
    padding: 20px;
    overflow: auto;
    background-color: #f1f1f1;
}
.team .teamcontent{
    width: 90%;
    margin: auto;
    overflow: auto;
    padding-bottom: 30px;
    padding-top: 30px;
}
.team div{
    float: left;
    width: 25%;
    height: auto;
    text-align: center;
    padding-left: 10px;
}
.team i{
    color: #ff305b;
    font-size: 26px;
    padding-top: 30px;
}
.team h3{
    font-size: 26px;
    font-weight: 800;
    font-family: 'Source Sans Pro', sans-serif;
    color: #333;
    padding: 15px;
}
.team h5{
    color: #555555;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    padding-bottom: 30px;
    
}




.feedback{
    width: 100%;
    padding: 30px 0px;
}
.feedback .feedcontent{
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 30px 0px;
}
.feedback h2{
    font-size: 40px;
    font-weight: 800;
    line-height: 30px;
    margin-bottom: 40px;
    padding-bottom: 30px;
    position: relative;
    text-transform: capitalize;
    margin: 0 0 10px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #333;
    padding-top: 30px;
}

.feedback h2::before{
    content: "";
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-color: #ff305b;
    border-style: solid;
    border-width: 1px 0;
    padding: 4px 0 5px;
    width: 70px;
}
.feedback h2::after{
    content: "";
    margin: 0 auto;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 5px;
    background-color: #ff305b;
    height: 1px;
    width: 160px;
}

.feedback .box{
    width: 66%;
    height: auto;
    margin: auto;
    overflow: hidden;
    background: #f1f1f1;
}
.box .mypic{
    float: left;
    width: 20%;
    border-radius: 50%;
    position: relative;
    z-index: 999;
    padding-top: 30px;
    padding-left: 30px;
}
.mypic img{
    width: 80%;
    border-radius: 50%;
}
.box .myfeed{
    text-align: left;
    float: left;
    width: 80%;
    padding: 30px;
}
.myfeed h3{
    font-size: 26px;
    padding-bottom: 10px;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    color: #333;
}
.myfeed h4{
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    color: #777777;
    font-size: 15px;
    padding-bottom: 10px;
}
.myfeed p{
    font-size: 16px;
    font-style: italic;
    color: #555555;
    line-height: 24px;
    padding: 0px 20px 15px 0px;
}
.myfeed .rate{
    color: #f1c30d;
    padding-bottom: 12px;
}
.box .mypic::before{
    border-color: #ff305b rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 191px;
    content: "";
    position: absolute;
    top: 0px;
    left:-199px;
    transform: translatex(0%);
    z-index: -1;
}

.feedback .dots{
    text-align: center;
}



.blog{
    width: 100%;
    padding: 30px;
    background: #f1f1f1;
}
.blog .blogcontent{
    width: 90%;
    margin: auto;
    text-align: center;
}
.blog h2{
    font-size: 40px;
    font-weight: 800;
    line-height: 30px;
    margin-bottom: 40px;
    padding-bottom: 30px;
    position: relative;
    text-transform: capitalize;
    margin: 0 0 10px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #333;
    padding-top: 30px;
}

.blog h2::before{
    content: "";
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-color: #ff305b;
    border-style: solid;
    border-width: 1px 0;
    padding: 4px 0 5px;
    width: 70px;
}
.blog h2::after{
    content: "";
    margin: 0 auto;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 5px;
    background-color: #ff305b;
    height: 1px;
    width: 160px;
}

.blog .container{
    width: 100%;
    overflow: auto;
    padding: 30px;
    background: #f1f1f1;
    text-align: left;
}
.container .l1{
    float: left;
    width: 33.3333%;
    padding: 15px;
}
.container .layers{
    
    background-color: #fff;
    padding-bottom: 20px;
    
}
.l1 .fram{
    position: relative;
    padding-top: 57.25%;
}

.container iframe{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.container img{
    width: 100%;
    height: 100%;
}
.container h3{
    font-weight: 600;
    margin: 0 0 10px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #333;
    padding:0px 20px 15px;
    font-size: 24px;
    line-height: 1.1;
}
.container p{
    font-size: 16px;
    color: #555555;
    line-height: 24px;
    padding: 0px 20px 15px 20px;
}
.container a{
    color: #333333;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    padding:20px;
}
.container i{
    font-size: 16px;
    height: 20px;
    width: 32px;
    color: #333333;
}
.container a:hover , i:hover{
    color: #ff305b;
}



.contact{
    width: 100%;
    background-color: #fff;
    padding: 30px;
    overflow: auto;
}
.contact .contparent{
    width: 60%;
    margin: auto;
    text-align: center;
    padding: 30px 0px;
}
.contact h2{
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 40px;
    padding-bottom: 30px;
    position: relative;
    text-transform: capitalize;
    font-family: 'Source Sans Pro', sans-serif;
    color: #333;
    padding-top: 30px;
}
.contact h2::before{
    content: "";
    margin: 0 auto;
    width: 70px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-color: #ff305b;
    border-style: solid;
    border-width: 1px 0;
    padding: 4px 0 5px;
}
.contact h2::after{
    content: "";
    margin: 0 auto;
    height: 1px;
    width: 160px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5px;
    background-color: #ff305b;
}

.contact form input{
    width: 100%;
    padding: 12px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.contact textarea{
    width: 100%;
    padding: 12px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.contact .text{
    padding: 20px 0px;
}
.contact .name{
    width: 50%;
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
}
.contact .mail{
    width: 50%;
    float: left;
    padding-bottom: 20px;
}
.contact .bton{
    text-align: left;
    padding-bottom: 30px;
}
.contact button{
    background-color: #ff305b;
    border-radius: 4px;
    color: #ffffff;
    margin-right: 10px;
    padding: 12px 24px;
    border: none;
    margin-left: 5px;
    font-size: 14px;
}
.contact button:hover{
    background-color: #EC2403;
}





.foot{
    width: 100%;
    background-color: #333333;
    padding: 30px;
}
.foot .footcont{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 30px 0px;
}
.foot i{
    padding: 0px 15px;
    font-size: 16px;
    height: 20px;
    width: 32px;
    color: #fff;
    padding-bottom: 30px;
}
.foot i:hover{
    color: #ff305b ;
}
.foot p{
    color: #ffffff;
}
.foot a{
    color: #ff305b;
    text-decoration: none;
}
.foot a:hover{
    text-decoration: underline;
}





@media(max-width:1356px) and (min-width:992px)
{
    .navbar .menu{width: 65%;}
    .navbar .logo{width: 35%;}
}

@media(max-width:991px) and (min-width:768px)
{
    
    .navbar .menu{width: 75%;}
    .navbar .logo{width: 25%;}
    .cvimg .box{width: 50%;}
    .mycv .cvimg{width: 100%;}
    .mycv .cvtext{width: 100%;}
    .myname li{width: 100%;}
    .servskills div{width: 50%;}
    .portfolio .imgs .p{width: 50%;}
    .container .l1{width: 50%;}
}

@media(max-width:767px)
{
    .menu .menusmall{display: block;}
    .menu .menularge{display: none;}
    .cvimg .box{width: 50%;}
    .mycv .cvimg{width: 100%;}
    .mycv .cvtext{width: 100%;}
    .myname li{width: 100%;}
    .servskills div{width: 100%;}
    .portfolio .imgs .p{width: 100%;}
    .team div{width: 100%;}
    .box .mypic{width: 100%;}
    .box .myfeed{width: 100%;}
    .container .l1{width: 100%;}
    .contact .name{width: 100%;}
    .contact .mail{width: 100%;}
}